body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  line-height: 1.5;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: rgb(var(--clr-white) / 0.25);
}

.underlined-menu > * {
  padding: var(--underline-gap, 1rem) 0;
  cursor: pointer;
  border: 0;
  border-bottom: 0.2rem solid rgb(var(--clr-white) / 0);
  transition: var(--transition-short);
}

.underlined-menu > *:hover,
.underlined-menu > *:focus {
  border-color: rgb(var(--clr-white) / 0.5);
}

.underlined-menu > .active,
.underlined-menu > [aria-selected='true'] {
  color: rgb(var(--clr-white));
  border-color: rgb(var(--clr-white));
}
